@model Infrastructure.Models.Residencia

@{
    ViewBag.Title = "Detalle Residencia";
}

<h2>Detalle Residencia</h2>

<div>
    <h4>Residencia</h4>
    <hr />
    <dl class="dl-horizontal">
        @Html.DisplayForModel()
    </dl>
</div>


<div class="form-group">
    <div class="btn-group" role="group">
        @Html.ActionLink("Editar", "Edit",  new { id = Model.Id }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Regresar al listado", "Index", null, new { @class = "btn btn-secondary" })
    </div>
</div>

