@model IEnumerable<Infrastructure.Models.Informacion>

@{ ViewBag.Title = "Listado de Información"; }


<h2>Novedades</h2>

<div class="row">
    <div class="col-lg-3">
        <div class="list-group">


        </div>
    </div>

    <div class="col-lg-9">
        <div id="resultado" class="row">
            @foreach (var item in Model)
            {
<div class="col-sm-3">
    <div class="card">

        <div class="card-body">
            <h5 class="card-title">@Html.DisplayFor(modelItem => item.TipoInformacion1.Descripcion)</h5>
            <h6 class="card-subtitle mb-2 text-muted">  @Html.DisplayFor(modelItem => item.Texto)</h6>
            <a href="@Url.Action("DescargarArchivo", "Home", new {id=item.Id})">Descargar archivo</a>
        </div>
    </div>
</div>      }
        </div>
    </div>
</div>